.paper {
    margin: 0 auto;
    width: 50%;
    aspect-ratio: 1 / 1.4142;
    border: 3px solid var(--c-gray);
    border-radius: 3px;
}

.paper-title {
    height: 10%;
    font-size: 15px;
    font-family: var(--bold);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.paper-content {
    height: 90%;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.store-wrapper {

}

.store-name {
    font-size: 10px;
    font-family: var(--bold);
    margin-bottom: 5px;
}





table {		/* Whole table */
	display: table;
	color: black;
	font-size: 5px !important;
	border-collapse: collapse !important;
	--lineheight: 10px !important;
}

tbody {	/* Wraps table_row elements */
	display: table-row-group;
	border-radius: unset !important;
	border: none !important;
    page-break-inside: auto !important;
	page-break-after: auto !important;
	page-break-before: auto !important;
}

/* Header */

thead {		/* Wraps table_header text elements */
	font-family: var(--light);
	border: none !important;
	text-transform: uppercase;
    display: table-header-group;
}

th {
	flex-wrap: wrap;
	position: relative;
	align-content: flex-end;
    display: table-cell;
	border: 1px solid black !important;
    background: white;
    color: black;
}

/* General */

th button {
	display: none;
}

th p {
	font-family: var(--bold);
}

tr {
	outline: none;
	height: var(--lineheight);
    display: table-row;
	border: 1px solid black !important;
    page-break-inside: avoid !important;
	page-break-after: auto !important;
	page-break-before: auto !important;
	background: transparent !important;
}

/* Universal Table */

th, td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
	border: 1px solid black !important;
}

td {
	overflow: hidden;
    display: table-cell;
}

td p {
	padding: 0 !important;
	overflow: hidden;
}


@media print {
    @page {
        size: A4;
        margin: 0 !important;
    }

    .paper {
        width: 21cm !important;
        height: 29.7cm !important;
        margin: 0 !important;
        border: none !important;
        border-radius: 0 !important;
        page-break-before: always !important;
        page-break-after: always !important;
        overflow: hidden !important;
    }

    .paper-title {
        height: 10% !important;
        font-size: 18pt !important;
        padding: 0 20pt !important;
    }

    .paper-content {
        height: 90% !important;
        padding: 25pt !important;
        gap: 10pt !important;
    }

    body, *, *:hover {
        box-shadow: none !important;
        background: transparent !important;;
        overflow: visible !important;
        filter: none !important;
    }

    header, nav, #main-top {
        display: none !important;
        width: 0 !important;
        max-width: 0 !important;
        max-height: 0 !important;
        visibility: hidden !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        min-height: 0 !important;
        max-height: 0 !important;
        height: 0 !important;
    }

    #main-content {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100vw !important;
        padding: 0 !important;
    }

    main {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100vw !important;
        padding: 0 !important;
    }

    table {
        font-size: 7pt !important;
        --lineheight: 11pt !important;
    }

    th {
        border: 1px solid black !important;
    }

    tr {
        border: 1pt solid black !important;
    }


    th, td {
        border: 1pt solid black !important;
    }

    .store-name {
        font-size: 10pt !important;
        margin-bottom: 5pt !important;
    }

    .order-table {
        margin: 50pt auto;
        width: calc(100% - 50pt);
        box-sizing: border-box;
    }
}