:root {
    --c-black: rgb(34, 32, 33);
	--c-darkgray: rgb(154, 154, 154);
	--c-gray: rgb(204, 204, 204);
	--c-lightgray: rgb(221, 221, 221);
	--c-lightergray: rgb(236, 236, 236);
	--c-lightestgray: rgb(246, 246, 246);

    --c-primary: rgb(235, 28, 36);
    --c-green: rgb(25, 155, 72);
    --c-blue: rgb(17, 62, 146);
    --c-purple: rgb(84, 3, 151);
    --c-yellow: rgb(231, 216, 3);
    --c-pink: rgb(230, 17, 183);
    --c-orange: rgb(255, 136, 0);
    --c-brown: rgb(143, 38, 12);

    --light: Poppins-Light;
	--regular: Poppins-Regular;
	--bold: Poppins-SemiBold;
}

@font-face {
	font-family: Poppins-Light;
	src: url(../assets/fonts/Poppins-Light.ttf);
}

@font-face {
	font-family: Poppins-Regular;
	src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

body, html {	/* Gives placeholder background and default font */
    background: white;
	font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
	color: var(--c-black);
	height: 100%;
	padding: 0;
    margin: 0;
	overflow-x: hidden;
	font-size: var(--f-medium) !important;
    line-height: 1.2;

    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 30px 1fr;
    gap: 0px 0px;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    "header header"
    "nav main";
}

body.no-nav {	/* Gives placeholder background and default font */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    gap: 0px 0px;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    "header"
    "main";
}

@supports (scroll-behavior: smooth) {
	body, html {
		scroll-behavior: smooth;
	}
}

body * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.preload * {
	transition: none !important;
}

button, input[type="button"] {
	cursor: pointer;
	background: transparent;
}

input[type="submit"] {
	cursor: pointer;
}

button, input, textarea {
	padding: 0;
	font-size: var(--f-medium);
	font-family: var(--regular);
	color: var(--c-black);
	caret-color: var(--c-black);
    outline: none;
    border: none;
	resize: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

p, form {
	margin: 0;
}

ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--c-black);
	white-space: nowrap;
}

label {
    text-transform: uppercase;
}

::-webkit-scrollbar { /* Width */
    width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb { /* Handle */
	background: var(--c-darkgray);
	border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: var(--c-gray);
}